{
  "openapi": "3.0.2",
  "info": {
    "title": "Diario Nutricional API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://conversational.ugr.es/master/api"
    }
  ],
  "components": {
    "requestBodies": {
      "CrearUsuario": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/components/schemas/user"
              }
            }
          }
        },
        "description": "List of user object"
      },
      "CrearComida": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/comida"
            }
          }
        },
        "description": "Comida para añadir"
      }
    },
    "schemas": {
      "user": {
        "type": "object",
        "properties": {
          "nombre": {
            "type": "string"
          },
          "peso": {
            "type": "number"
          },
          "altura": {
            "type": "integer"
          },
          "nickname": {
            "type": "string"
          }
        }
      },
      "comida": {
        "type": "object",
        "properties": {
          "platos": {
            "type": "array",
            "properties": {
              "descripcion": {
                "type": "string"
              },
              "calorias": {
                "type": "integer"
              }
            }
          },
          "user": {
            "type": "string"
          }
        }
      }
    }
  },
  "paths": {
    "/user": {
      "post": {
        "description": "Crear un usuario",
        "requestBody": {
          "$ref": "#/components/requestBodies/CrearUsuario"
        },
        "responses": {
          "200": {
            "description": "Usuario creado correctamente"
          },
          "400": {
            "description": "Datos de entrada incompletos"
          },
          "500": {
            "description": "Error al crear el usuario"
          }
        }
      }
    },
    "/comida": {
      "post": {
        "description": "Añadir comida",
        "requestBody": {
          "$ref": "#/components/requestBodies/CrearComida"
        },
        "responses": {
          "200": {
            "description": "Comida añadida correctamente"
          },
          "400": {
            "description": "Datos de entrada incompletos"
          },
          "500": {
            "description": "Error al crear la comida"
          }
        }
      }
    },
    "/comida/{usernickname}/{starttime}/{endtime}": {
      "get": {
        "description": "Obtener las comidas de un usuario en un intervalo de tiempo",
        "responses": {
          "200": {
            "description": "Lista de comidas"
          },
          "400": {
            "description": "Datos de entrada incompletos"
          },
          "500": {
            "description": "Error al obtener las comidas"
          }
        }
      }
    },
    "/calorias/{usernickname}/{starttime}/{endtime}": {
      "get": {
        "description": "Obtener las calorias totales para un usuario en todas las comidas en un marco de tiempo",
        "parameters": [ ],
        "responses": {
          "200": {
            "description": "Total de calorias"
          },
          "400": {
            "description": "Datos de entrada incompletos"
          },
          "500": {
            "description": "Error al obtener las calorias"
          }
        }
      }
    }
  }
}
